
@{
    ViewBag.Title = "BuscarAlumno";
}

<h2>BuscarAlumno</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Dni")
        @Html.TextBox("dni", "", new { @class = "form-control" })
        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
    </div>
    <div class="form-group">
        @Html.Label("Nombres")
        @Html.TextBox("nombres", "", new { @class = "form-control" })
    </div>

</div>



@section scripts{
    <script type="text/javascript">
        $(function () {
           $("#btnBuscar").on("click",function () {

               var codigo = $("#codigo").val();

               $.ajax({
                   method: "GET",
                   url: "/Producto/BuscarProductoByCodigo?codigo="+codigo
               }).done(function( result ) {
                   if (result.success === true) {
                       alert("El Producto existe..!!");
                       $("#dni").val(result.data.alumno.dni);
                       $("#nombres").val(result.data.Nombres);

                   }
                   else
                   {
                     alert("El Producto no existe..!!");
                   }
               });
           });
        });
    </script>
}